<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food Item</title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<h1>Edit Food Item</h1>

<form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT" method="POST">
    <label for="name">Food Name:</label>
    <input type="text" name="name" id="name" value="<%= pantry.name %>" required>

    <label for="type">Type:</label>
    <select id="type" name="type">
      <option
        value="fruit"
        <%= pantry.type === "fruit" ? "selected" : "" %>
      >
        Fruit
      </option>
      <option
        value="vegetable"
        <%= pantry.type === "vegetable" ? "selected" : "" %>
      >
        Vegetable
      </option>
      <option
        value="meat"
        <%= pantry.type === "meat" ? "selected" : "" %>
      >
        Meat
      </option>
      <option
        value="carb"
        <%= pantry.type === "carb" ? "selected" : "" %>
      >
        Carb
      </option>
      <option
        value="other"
        <%= pantry.type === "other" ? "selected" : "" %>
      >
        Other
      </option>
    </select>

    <label for="description">Description</label>
    <textarea name="description" id="description"><%= pantry.description %></textarea>

    <button type="submit">Save Changes</button>
</form>

<a href="/users/<%= user._id %>/foods">⬅ Back to Pantry</a>
</body>
</html>
