<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food item Details</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%=pantry.name%> Details</h1>
    
    <p><strong>Name:</strong> <%= pantry.name %></p>
    <p><strong>Type:</strong> <%= pantry.type %></p>
    <p><strong>Description:</strong> <%= pantry.description || "No description provided." %></p>
    
    <a href="/users/<%= user._id %>/foods/<%= pantry._id %>/edit"> Edit</a>
    <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=DELETE" method="POST">
    <button type="submit"> Delete</button>
    </form>
</body>
</html>